*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
ie/.idea/*
ie/edu/*
ie/edu
*.tagger
ie/META-INF/
*.ser
ie/backup/stanford-corenlp-full-2015-12-09.zip
ie/backup/stanford-english-corenlp-models-current.jar
ie/out/
ie/src/log4j.properties
.DS_Store
